
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.searchBar {
    flex: 1;
    min-width: 0;
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
}

.searchBar input {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid var(--input-border);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: var(--border-radius);
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    color: var(--input-color);
    background-color: var(--input-bg);
    transition: background-color 0.1s ease, border-color 0.1s ease;
}

.searchBar input::placeholder {
    color: var(--input-color);
}

.selectWrapper {
    position: relative;
    display: inline-block;
}

.selectIcon {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
}

.filters select {
    width: 250px;
    box-sizing: border-box;
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    padding: 0.8rem 2rem 0.8rem 0.8rem;
    color: var(--input-color);
    background-color: var(--input-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    appearance: none;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}

@media (max-width: 600px) {
    .filter {
        flex-direction: column;
    }

    .selectWrapper,
    .searchBar input,
    .filters select {
        width: 100%;
    }
}
