:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: white;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  --border-radius: 7px;
}

body {
  margin: 0;
  padding: 0;
}

.mainContainer {
  padding: 1.5rem 3rem 3rem 3rem;
}

@media (max-width: 600px) {
  .mainContainer {
    padding: 1.5rem;
  }
}
